
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up - Job Platform</title>
</head>
<body>
<h2>Δημιουργία Λογαριασμού</h2>

<!-- Εμφάνιση μηνύματος σφάλματος αν ο χρήστης υπάρχει ήδη -->
<div th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></div>

<form th:action="@{/user/register}" th:object="${user}" method="post">

    <input type="text" th:field="*{username}" placeholder="Username" required />
    <br><br>

    <input autocomplete="new-password" type="password" th:field="*{password}" placeholder="Κωδικός" required />
    <br><br>

    <input type="email" th:field="*{email}" placeholder="Email" />
    <br><br>


    <input type="text" th:field="*{city}" placeholder="City" />
    <br><br>

    <!-- Επιλογή Ρόλου: Πολύ σημαντικό για την εφαρμογή σου -->
    <label>Είμαι:</label>
    <select th:field="*{role}">
        <option value="ROLE_WORKER">Εργαζόμενος (Ψάχνω δουλειά)</option>
        <option value="ROLE_EMPLOYER">Εργοδότης (Προσφέρω δουλειά)</option>
    </select>
    <br><br>

    <button type="submit">Εγγραφή</button>
</form>

<p>Έχετε ήδη λογαριασμό; <a th:href="@{/}">Σύνδεση εδώ</a></p>
</body>
</html>